/* title */
.learning .title, .skils .title, .our-courses .title {
    font-size: 70px;
    padding-bottom: 100px;
}

/* courses */
.course-wrapper > * {
    width: 50%;
}
.course-wrapper {
    height: 700px;
}
.course-title-block .title {
    padding: 100px;
}
.course-title-block .button {
    width: 100%;
    background: unset;
    border: unset;
    font-size: 36px;
    line-height: 45px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.course-title-block .button span {
    padding: 10px;
    font-size: 35px;
}  

.title-under-text {
    font-size: 32px;
    line-height: 40px;
    padding: 100px 0;
}

/* learning & skils */
.learning-text, .skils-text {
    font-size: 32px;
    line-height: 40px;
    padding-left: 55px;
    width: 50%;
}

.learning-text div, .skils-text div {
    padding-bottom: 20px;
}
.skils-content img, .learning-content img {
    width: 50%;
}
.skils-text {
    padding-right: 55px;
    padding-left: 0;
}

.skils, .our-courses {
    padding-top: 100px;
}

/* our-courses */
.our-courses-item {
    padding: 50px;
    margin-bottom: 50px;
}
.our-courses-item:last-child {
    margin-bottom: 0;
}
.our-courses-item .sub-title {
    font-size: 48px;
    line-height: 71px;
    padding-bottom: 50px;
}
.our-courses .item-wrapper {
    display: flex;
}
.our-courses .item-wrapper > * {
    width: 50%;
}
.our-courses .item-wrapper img {
    padding-right: 50px;
}
.our-courses .item-content p {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 95px;
}

/* modal */

.review-modal {
    z-index: 99999;
    position: fixed;
    right: 5%;
    width: 90%;
    height: 90%;
    top: 5%;


    display: none;
}
.overlay {
    z-index: 9999;
    width: 102%;
    height: 102%;
    top: 0%;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0.6);

    display: none;
}

.review-modal h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 71px;
    text-align: center;
    padding-bottom: 10px;
}
.review-modal .content-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.review-modal .wrapper {
    width: 85%;
    margin: 0 auto;
}

.review-modal .content-wrapper select {
    width: 170px;
}
.review-modal .content-wrapper div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-modal .content-wrapper div input,.review-modal .content-wrapper div select  {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: unset;
    margin-bottom: 10px;
}
.review-modal .content-wrapper div label, .review-modal .content-wrapper h3 {
    font-size: 32px;
}
.review-modal .content-wrapper div select  {
    background: #A7A7A7;
}
.review-modal textarea {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.review-modal .checkboxes {
    display: flex;
    flex-direction: column;   
     padding-left: 80px;
    padding-top: 10px;
}

.review-modal footer {
    display: flex;
    justify-content: center;
}
.review-modal footer button {
    height: 60px;
    width: 250px;
    border-radius: 10px;    
    margin-top: 50px;
}

.review-modal .close {
    background: transparent;
    border: unset;
    font-size: 50px;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.review-modal .radio-buttons {
    border: unset;
    padding-left: 63px;
}
.review-modal .radio-buttons label {
    color: white;
}

.review-modal .checkbox {
    padding-left: 63px;
}