.wrapper-slider {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px; }

.slider-container {
  overflow: hidden;
  background-color: pink; 
  height: 1600px;
}

.slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s; }

.slider-item {
  min-height: 400px;
  min-width: 200px; 
  margin-bottom: 50px;
  background: #487D76;
  padding: 50px;
}

.slider-item:nth-child(3n+1) {
  background-color: #487D76; 
}

.slider-item:nth-child(3n+2) {
  background-color: #487D76; 
}

.slider-item:nth-child(3n+3) {
  background-color: #487D76; 
}

.slider-buttons {
  text-align: center; 
}