.test-wrapper > * {
    width: 50%;
    height: 700px;
}

.default-title {
    padding: 100px 0;
    font-size: 70px;
    line-height: 120%;
}
.description-test-item h3 {
    padding-bottom: 25px;
    font-size: 48px;
}
.description-test-item {
    padding-bottom: 25px;
}

.test-title-block {
    padding: 0px 40px 40px 40px;
}
.test-title-block .title {
    padding-top: 50px;
}